@import "../../../@core/scss/base/bootstrap-extended/include";
@import "../../../@core/scss/base/components/include";
.card-layout-container {
  .card-body-container {
    padding: 20px 30px;
    .title-container {
      display: grid;
      grid-template-columns: max-content auto;
      gap: 10px;
      align-items: center;
      margin-bottom: 10px;
      p {
        margin: 0;
        // color: black;
        font-weight: bold;
        font-size: 12px;
      }
      div {
        height: 1px;
        background-color: $border-color;
        width: 100%;
      }
    }
  }
}
